<div class="tab">
  <div class="col-md-2"> </div>
  <div class="col-md-8">

    <br>
    <div class='about'>  <a>Home</a></div>
    <div class='about'> &nbsp;&nbsp; <a style="color:white;">About</a> </div>
    <div class='about'> &nbsp;&nbsp; <a style="color:white;">Contact</a> </div>
    <div class='Logout' (click)="auth.signOut()"> &nbsp;&nbsp; <a style="color: rgba(184, 207, 228, 0.877);">Logout</a></div>

    <!-- <div class="PlaceAd " (click)="placeYourAd()">Place Your Ad</div> -->
    <div class='lang'> <a style="color:white;">العربية</a> &nbsp;&nbsp;</div>
    <br>
    <br>
  </div>
</div>


<div class="colourful">

  <div class="container">


    <form #frm="ngForm" (ngSubmit)="addCar(frm)" *ngIf="!toggleForm">

      <h3 class="titles"> Place Your Ad </h3>


      <!-- <button (click)="upload()">Upload {{imagePreviews.length}} files</button> -->

      <div *ngIf="uploadProgress">
        <div id="myProgress">.
          <div id="myBar" [ngStyle]="{'width': uploadProgress+'%'}">{{ uploadProgress }} %</div>
        </div>
        <!--   <div id="myProgress">
          <div id="myBar" [ngStyle]="{'width': uploadProgress+'%'}">{{ uploadProgress }} %</div>
        </div> -->
        <!--  <div id="myProgress">.
            <div id="myBar" >{{ uploadProgress }} %</div>
          </div> -->

      </div>


      <div class="box">



        <h4 class="label label-primary"> Upload car images</h4>
        <div class="toolbar">
          <input #file type="file" name='image' (change)="onImageChange($event)" value="Add Files..." accept="image/*" multiple>
          <!--  <button (click)="file.click()">Upload file</button> -->

        </div>


        <div class="droplet" fileDrop (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)" [ngClass]="{'active': dropzoneActive}">

          <!--  <i class="fa fa-cloud-upload fa-2x"></i> -->
          <ul class="files" (click)="$event.stopPropagation()">

            <li *ngFor="let image of bigImagePreviews">

              <a target="#" [href]="sanitizer.bypassSecurityTrustUrl(image.url)">
                <img class="droplet-preview" [src]="sanitizer.bypassSecurityTrustUrl(image.url)">
              </a>

              <div class="delete" (click)="removeImage(image.name);">&times;</div>
              <div class="size">{{image.size / 1024 / 1024 | number}}MB</div>
            </li>

          </ul>
          <h3 class="draghere text-muted" (click)="file.click()">Click or Drag Here...</h3>

        </div>


      </div>

      <!--  <div class='col-md-6'> -->

      <div class="form-group row">
        

        <div class="col-xs-3">
          <label class="label label-primary" for="city">
             City
          </label>

          <select class="form-control" id="city">
              <option>Abu Dhabi</option>
              <option>Ajman</option>
              <option>Alain</option>
              <option>Dubai</option>
              <option>Fujaira</option>
              <option>Ras Alkhaima</option>
              <option>Sharjah</option>
              <option>Um Alqwain</option>
              
              
            </select>
        </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="">
            Manufacter
          </label>

          <select class="form-control"   id="exampleFormControlSelect1">
              <option>NISSAN</option>
              <option>TOYOTA</option>
               
            </select>
        </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="">
            Model
          </label>

          <select class="form-control"   id="exampleFormControlSelect1">
              <option>ALITIMA</option>
              <option>CAMRY</option>
               
            </select>
        </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="">
            Price
          </label>

          <input type="number" class="form-control" name="carModel" value="" ngModel required>
        </div>

        

      </div>
      <!-- form row -->
     

      <div class="form-group row">

          <div class="col-xs-3">
              <label class="label label-primary" for="color">
                Year
              </label>
      
              <select class="form-control"   id="Cylinders">
                  <option>2019</option>
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                </select>
            </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="">
            Kilometers
          </label>

          <input type="number" class="form-control" name="carModel" value="" ngModel required>
        </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="color">
            Specs
          </label>

          <select class="form-control"   id="Cylinders">
              <option>GCC</option>
              <option>AMERICAN</option>
              <option>JAPANESE</option>
              <option>EUROPE</option>
              <option>OHTER</option>
            </select>
        </div>

        <div class="col-xs-3">
            <label class="label label-primary" for="Cylinders">
              No. Of Cylinders
            </label>
  
            <select class="form-control"   id="Cylinders">
                <option>3</option>
                <option>4</option>
                <option>6</option>
                <option>8</option>
                <option>12</option>
              </select>
          </div>

        

      </div>
      <!-- form row -->

      <div class="form-group row">
        

        <div class="col-xs-3">
            <label class="label label-primary" for="">
              Warranty
            </label>
  
            <select class="form-control"   id="exampleFormControlSelect1">
                <option>YES</option>
                <option>NO</option>
                <option>DOESN'T APPLY</option>
              </select>
          </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="color">
            Color
          </label>

          <select class="form-control"   id="exampleFormControlSelect1">
              <option>WHITE</option>
              <option>BLACK</option>
               
            </select>
        </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="exampleFormControlSelect1">
            Transmission
          </label>
                <select class="form-control"   id="exampleFormControlSelect1">
                <option>AUTOMATIC</option>
                <option>MANUAL</option>
                 
              </select>
          
        </div>

        <div class="col-xs-3">
          <label class="label label-primary" for="phone">
            Contact Number
          </label>

          <input type="text" class="form-control" name="phone" placeholder="Enter Phone number" value="" ngModel required>
        </div>

      </div>
      <!-- form row -->

      <div class="form-group">
          <label class="label label-primary" for="exampleFormControlTextarea1">DESCRIPTION</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

      <button type="submit" name='button' class='btn btn-danger' [disabled]='frm.invalid'>Place ad with {{bigImagePreviews.length}} images</button>


    </form>



    <form #EditFrm="ngForm" (ngSubmit)="EditCar(EditFrm)" *ngIf="toggleForm">
      <h2> Edit Car</h2>
      <div class="form-group">
        <label for="">
          Model:
        </label>

        <input type="text" class="form-control" name="carmodel" value="" [ngModel]="selectedCar.MODEL">
      </div>

      <div class="form-group">
        <label for="">
          Color:
        </label>

        <input type="text" class="form-control" name="carcolor" value="" [ngModel]="selectedCar.COLOR">
      </div>
      <br>
      <button type="submit" name='button' class='btn btn-success'>Save</button>
      <button name='button' class='btn btn-primary' (click)="toggleForm= !toggleForm">Cancel</button>
    </form>
    <br>
    <h3 class="titles"> Your previous ads </h3>
    <br>
    <div *ngFor="let car of carList">
      <div class="row">
        <div class="col-md-1">
          {{car.COLOR}}
        </div>

        <div class='col-md-1'>
          {{car.MODEL}}
        </div>

        <div class='col-md-3'>
          <button type='button' name="button" class='btn btn-primary' (click)="showEditForm(car)" [disabled]="toggleForm">Edit</button>
        </div>

        <div class='col-md-2'>
          <button type='button' name="button" class='btn btn-danger' (click)="deleteCar(car)" [disabled]="toggleForm">Delete</button>
        </div>
      </div>
      <br>
    </div>

    <!-- pagination -->

  </div>
</div>