hr {
    
   /*  clear:both;
    display:block;
    color: black;*/
    height: 4px; 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    
  }

  .text-center{
      text-align: left;
   
  }
 

  footer {
      background-color:  rgb(3, 17, 31); 
  }

 .footerUp{
    color: rgba(241, 237, 237, 0.637);
    font-family: ubuntu;
    
  }

  a{
    /* color:rgba(34, 137, 228, 0.808) */
    color:rgba(34, 137, 228, 0.808)
  }
  a:hover{
   
	font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

  .toggleLang{
    text-align: right;
    direction: rtl;
}