hr {
    
    clear:both;
    display:block;
    color: black;
    height: 4px;
  }

  .text-center{
      text-align: left;
   
  }
 

  footer {
      background-color:  rgb(3, 17, 31); 
  }

 .footerUp{
    color: rgb(241, 237, 237);
  }