<footer class="page-footer cent font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left" [class.toggleLang]="toggleLanguage">

    <!-- Footer links -->
    <div class="row footerUp">
      <br>



      <div class="col-md-1"> </div>
      <!-- Grid column -->
      <div class="col-md-4">
        <h6 class="text-uppercase mb-4 font-weight-bold"><b translate>CompanyName</b></h6>
        <p translate>OurCompany</p>
      </div>
      <!-- Grid column -->

      <!--   <hr class="w-100 clearfix d-md-none"> -->

      <!-- Grid column -->
      <!--  <div class="col-md-2"> 
      
      </div> -->
      <!-- Grid column -->

      <!--     <hr class="w-100 clearfix d-md-none"> -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase mb-4 font-weight-bold"><b translate>UsefulLinks</b></h6>
        <p>
          Your Account
          <p>
            Become an Affiliate
          </p>




          <p>
            Shipping Rates
          </p>
          <p translate>
            Help
          </p>
      </div>

      <!-- Grid column -->
      <!--     <hr class="w-100 clearfix d-md-none"> -->

      <!-- Grid column -->
      <div class="text-primary" class="col-md-1">
        <h6 class="text-uppercase "> <b translate>Language</b></h6>
        <p>
          <a style="color: rgba(241, 237, 237, 0.637);" (click)="switchLanguage('ar')">العربية </a></p>
        <p>
          <a style="color: rgba(241, 237, 237, 0.637);" (click)="switchLanguage('en')"> English</a></p>


      </div>




      <div class="text-primary" class="col-md-3">
        <h6 class="text-uppercase "> <b translate>Contact</b></h6>
        <p>
          <i class="fa fa-home mr-3"></i> Dubai, International City, AE</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> sudanamin@hotmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 971 522 626 202</p>
        <p>
          <i class="fa fa-whatsapp"></i> + 971 522 626 202</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <br>
    <div class='row' style='color:rgba(34, 137, 228, 0.808)'>
      <!-- rgb(83, 156, 219) (34, 137, 228, 0.808)-->
      <div class="col-md-2  "></div>
      <div class="col-md-1  " translate> <b class="text-uppercase mb-4 font-weight-bold" translate> Emirate</b>
      </div>
      <div class="col-md-1 " translate>
        <a>AbuDhabi </a>
      </div>
      <div class="col-md-1  " translate> <a> Ajman</a>
      </div>
      <div class="col-md-1 " translate>
        <a>Alain </a>
      </div>
      <div class="col-md-1  " translate>
        <a>Dubai</a>

      </div>
      <div class="col-md-1  " translate>
        <a> Fujaira </a>
      </div>

      <div class="col-md-1  " translate>
        <a> Sharjah </a>
      </div>

      <div class="col-md-3  ">
        <div class='row'>
          <div class=col-md-6 translate>
            <a> RasAlkaima </a>
          </div>
          <div class=col-md-6> <a>UmmAlquwain</a></div>
        </div>
      </div>
     <!--  <div class="col-md-2  ">

      </div> -->

    </div>

    <hr>
    <!-- Grid row -->
    <div class="row   align-items-center" style='direction: ltr'>

      <!-- Grid column -->
      <!--  <div class="col-md-1  "></div> -->
      <div class="col-md-10  ">

        <!--Copyright-->
        <p class="text-center text-md-left"><span class='footerUp'>© Copyright:</span>
          <a href="https://mdbootstrap.com/bootstrap-tutorial/">
            <strong style="color: goldenrod"> zezenia.ae </strong>

          </a><span class='footerUp'>2018,</span>
          <br>
          <span class='footerUp'>All Rights Reserved.</span>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 ">
        <div class='row' style='direction: ltr'>
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href='http://www.fb.com' class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-facebook" style=" color:rgba(67, 137, 230, 0.897)"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href='http://web.whatsapp.com' class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-whatsapp" style=" color:rgba(0, 128, 0, 0.788)"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href='http://www.google.com' class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-google-plus" style=" color:rgba(202, 6, 6, 0.61)"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href='http://www.google.com' class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-linkedin" style=" color:white"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->