/* You can add global styles to this file, and also import other style files */
 
 body , html{
	 width: 100%;
	 
 }
 body
 {
	overflow-x: hidden;
 }
.app-loading .logo {
	
	 /*  width: 2em;
	  height: 2em; */
	 /*  width:150px;height:150px; */
	  object-fit: contain;
	  filter: alpha(opacity=10);
	/*   background: url(./assets/logo.png)  center  no-repeat;  */
	 
  }

/* #slider12c .slider-selection {
	background: greenyellow;

} */

#slider2 .slider-selection, #slider3 .slider-selection, #slider4 .slider-selection {
	background: greenyellow;

}

 

#slider2 .slider-track-high, #slider3 .slider-track-high,  #slider4 .slider-track-high {
	background: red;
}

#slider2 .slider-track-low, #slider3 .slider-track-low,  #slider4 .slider-track-low {
	background: red;
}