<div class="center">
    <button class="btn btn-lg blue center" (click)="openSlideshow()">Open Slideshow</button>
</div>


<app-photo-swipe #photoSwipe></app-photo-swipe>

<img (click)="openSlideshow();" style="width:100px;height:100px;" src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg'>
<img (click)="openSlideshow();" style="width:100px;height:100px;" src='https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(111).jpg'>
<img (click)="openSlideshow();" style="width:100px;height:100px;" src='../../assets/ss.jpg'>