<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>

  <h1>Join now</h1>

  <span class="error" *ngIf="error" >{{ error }}</span>
    
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">

    <input type="text" name="email" class="txt" ngModel required>
    <br>
    <input type="password"  name="password" class="txt" ngModel required>
    <br>
    <br>
   

    <button type="submit" [disabled]="signupForm.invalid" class="basic-btn">Create my account</button>
  </form>
  

 <!--  <form #EditFrm="ngForm" (ngSubmit)="EditCar(EditFrm)" >
      {{EditFrm.valid}}
      <div>
          <label class="label label-primary" for="" translate>
            Manufacturer:
          </label>

          <select class="form-control input-sm"   name="carManufacturer" ngModel required>
              <option>NISSAN</option>
              <option>TOYOTA</option>
               
            </select>
        </div>
      <button type="submit"   [disabled]='EditFrm.invalid'>submit</button>
    </form> -->
</div>