h2  {
    display:inline;
    }

  /*  .resetBox{

    top: 15%;
    left: 3%;
    position: absolute;

   /*  position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0px;
    margin: auto; */
      /*   margin-top: 120px;
        margin-left: 50px; 
    } */
    button[type="submit"]
{
	border: none;
	outline: none;
	height: 2em;
	color: rgb(51, 44, 148);
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 10px;
}
 input[type="submit"]:hover
{
	background: #e0e414;
	color: #59685f;
}


 input[type="text"],
 input[type="password"]

{
	border: none;
	border-bottom: 1px solid rgb(14, 179, 64);
	background: transparent;
	outline: none;
	height: 40px;
	color: rgb(1, 20, 1);
    font-size: 16px;
    width : 300px;
}

 input[type="text"]:hover,
 input[type="password"]:hover

{
	border-bottom: 1px solid #111100;
	
}
::placeholder
{
	color: rgba(14, 0, 0, 0.5);
}