<upload-form></upload-form>

<div class="container">
  <form #frm = "ngForm" (ngSubmit)="addCar(frm)" *ngIf="!toggleForm">
    <h2> ADD a car</h2>
    <div class="from-group">
      <label for="">
        Model:
      </label>
  
      <input 
      type="text"
      class="form-control"
      name="carModel"
      value=""
      ngModel
      required>
    </div>
  
    <div class="from-group">
        <label for="">
          Color:
        </label>
    
        <input 
        type="text"
        class="form-control"
        name="carColor"
        value=""
        ngModel
        required>
      </div>
  <br>
  <button type="submit" name='button' class='btn btn-success' [disabled]='frm.invalid'>Add ADS</button>
  
  </form>
  
  <form #EditFrm = "ngForm" (ngSubmit)="EditCar(EditFrm)" *ngIf="toggleForm">
    <h2> Edit Car</h2>
    <div class="form-group">
      <label for="">
        Model:
      </label>
  
      <input 
      type="text"
      class="form-control"
      name="carmodel"
      value=""
      [ngModel]="selectedCar.model">
    </div>
  
    <div class="form-group">
        <label for="">
          Color:
        </label>
    
        <input 
        type="text"
        class="form-control"
        name="carcolor"
        value=""
        [ngModel]="selectedCar.color">
      </div>
  <br>
  <button type="submit" name='button' class='btn btn-success'>Save</button>
  <button  name='button' class='btn btn-primary' (click)="toggleForm= !toggleForm">Cancel</button>
  </form>
  <br>
  <h2> Cars list </h2>
  
    <div *ngFor="let car of carList" >
      <div class="row">
      <div class="col-md-1">
       {{car.color}} 
      </div>
  
      <div class='col-md-1'>
        {{car.model}} 
      </div>
  
      <div class='col-md-3'>
        <button type='button' name="button" class='btn btn-primary' (click)="showEditForm(car)" [disabled]="toggleForm">Edit</button>
      </div>
  
      <div class='col-md-2'>
        <button type='button' name="button" class='btn btn-danger' (click)="deleteCar(car)">Delete</button>
      </div>
    </div>
    <br>
  </div>
  
  <!-- pagination -->

  </div>
