
 <a routerLink="/login" id="goback">Go back</a>

 <h1>Reset your password now</h1>

<div class="resetBox">
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
        
    <!-- <input type="text" name="" placeholder="Enter Email">
    <p>Password</p>
    <input type="password" name="" placeholder="••••••"> -->
       <input type="text" placeholder="Email address.."  name="email" (ngModel)="email" class="txt" required>
     
<br>
<br>
    <input type="submit" name="" value="Reset Password">
  </form>

</div>