
 <!-- <a routerLink="/login" id="goback">Go back</a> -->

 <h2>Reset your password</h2>

 <h5>Enter your email address to reset your password. You may need to check your spam folder.</h5>

<div  >
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
        
    <!-- <input type="text" name="" placeholder="Enter Email">
    <p>Password</p>
    <input type="password" name="" placeholder="••••••"> -->
       <input type="text" placeholder="Email address.."  name="email" (ngModel)="email" class="txt" required>
     
<br>
<br>
    <input  type="submit" name="" value="Reset">
  </form>

</div>