.rtltest{
    direction: rtl;
}

 
    .row-rtl {
           margin-right: 3px;
             
       
    }
 
  a:hover{
	 
    
     color: rgb(225, 223, 230);
	text-decoration: none;
}  



a{
    color:white;
    cursor: pointer;
	
}

 


  .ppage{
    color:rgb(19, 35, 73);
}

.logo{
   /*  vertical-align: bottom; */
   cursor: pointer; 
   /*  margin-top: 10px; */
    /*  margin-top: 10px;   */
     
  

   justify-content: center
  
   /*  margin-bottom:-20px ; */
}
       
      @media screen and (min-width: 601px) {
        .logo {
          font-size: 40px;
         /*  margin-left: 20%; */
          /* margin-left: 40%; */
        }
      }
      
      @media screen and (max-width: 600px) {
        .logo {
          font-size: 28px;
        }
      }

      .bring{
        
       
        
       /*  margin-top: 1em; */
       /*  padding-left: 20px; */
    
      /*  justify-content: center */
      
         
    }
           
          @media screen and (min-width: 601px) {
            .bring {
              font-size:  26px;
            }
          }
          
          @media screen and (max-width: 600px) {
            .bring {
              font-size: 24px;
            }
          }


.toggleLang{
    text-align: right;
    direction: rtl;
}

.rightOfBox{
    float: left;
 /*  //  text-align: left; */
   /*  font-weight: bold; */
    color: black;
    font-family:Verdana, sans-serif;
 /*  //  text-align: right; */
     
}

.top-right {
  position: absolute;
  top: 3vw;  
  left: 65vw;
  font-size:4vw;
  font-weight: bold;
  font-family: ubuntu;
  text-align: left;
   
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1.5s;
  animation-delay: 0s;
  
 
}

.top-right2 {
  position: absolute;
  top: 7vw;
  left: 65vw;
  font-size:4vw;
  font-weight: bold;
  font-family: ubuntu;
  text-align: left;
   
  -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: example2;
  animation-duration: 1.5s;
  animation-delay: 0s;
 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {  top:5vw;}
  to {  top:3vw;}
}
/* Standard syntax */
@keyframes example {
  from {  top:5vw;}
  to {  top:3vw;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
  from {  top:9vw;}
  to {  top:7vw;}
}
/* Standard syntax */
@keyframes example2 {
  from {  top:9vw;}
  to {  top:7vw;}
}




 

.container3 {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);

   
}



.SearchBox {
   /*  background-color: rgba(216, 221, 214, 0.705);  */
   background-color: rgba(216, 221, 214, 0.705);
    /* background-color: rgba(211, 211, 211, 0.404);  */
    /* width: 200px; */
   /*  border: 1px solid rgba(83, 50, 145, 0.575); */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
    margin: 1px;
}

.contactBox {
    background-color: #2A6496;

    width: 10em; 
    border: 1px solid #2A6496;
    padding: 10px;
    margin: 1px;
    text-align: center;
    color: white;
    /* float: right;  */
}
.searchh2{
    
  /*   font-weight: bold; */
  font-family:Verdana, sans-serif;

   /*  align :center; */
}

/* .containerPrice{
    color: #2A6496;
    float: right; 
    font-weight: bold;
   
}

.containerKilo{
    color: rgb(67, 152, 226);
    float: right; 
    font-weight: bold;
     
}

.containerYear{
    color: black;
    float: right; 
    font-weight: bold;
   
} */







.containerTitle
{
     
    /* float: left; */
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family:Verdana, sans-serif;
   /*  padding-bottom: center; */
}

.title{
    font-family: Ubuntu;
    text-transform: uppercase;
   font-size: large;
    font-weight: bold;
   
    color:black;
}

.container2 {
  position: relative;
  text-align: left;
  color: solid rgba(58, 33, 134, 0.514);
  margin-left: 0%;
  padding-left: 0%;
  /* overflow: hidden; */
 /* height: 200px;*/
 /*  float: left; */

}
 
/* .imgThumb{
    object-fit: cover;

   width:190px; 
    
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   min-height:145px;
   height:145px; 
   cursor: pointer;
   
  
} */

.num_of_img {
  background-color: red;
  position: absolute;
  /* bottom: 5px; */
  /* right: 5px;  */
  pointer-events: none;
  font-size: 13px;
  font-family: Lato, "Times New Roman", Tahoma, bold , Helvetica, sans-serif;
 /*  padding: 1px 4px; */

  /* top: 100px; */
  color:white;
  left: 35px; 
  font-weight: bold;
  z-index:2;
  
}

.verticalLine {
  /*  border-left: 3px solid rgba(58, 33, 134, 0.514); */
   /* border-left: 3px solid rgb(31, 87, 172);  */
   border-left: 3px solid #2a6496;
   height: 150px;
  
   float: left;
    padding-right: 5px;  
}

.img-hover-zoom {
 
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  width:190px; 
  height:145px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1300px) {
  .img-hover-zoom {

    width:150px; 
  }
  }

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
  cursor: pointer;
  width:190px; 
  height:145px; 
  object-fit: cover;
 
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(2);
}

showPhone:hover{
     
   
    font-size: x-large;
}
.details{
    /*  font-weight:   normal;  */
     font-size:  small; 
    font-family:  ubuntu;
  /*   font-weight: bold; */
    
   
}

.detailsBold{
    font-weight:   bold;
    font-size:   small;
    font-family:  ubuntu;
    direction: rtl;
    
}


.fontUbuntu{
    font-family: ubuntu;
  /*   font-weight:   normal; */
 /*  font-style: italic; */
 
    
}

.SearchTitle{

    font-family: ubuntu;
     
    font-size: x-large;
    
    
  

    
}




.SearchDetails{
    font-weight:   normal;
   /*  font-size: x-small; */
    font-family: Verdana, Geneva, sans-serif;

}



ul 
{
    line-height:100%;  
     padding-left: 0%; 
  
   
}
hr {
    /* border: 0; */
    clear:both;
    display:block;
    /*  width: 96%;  */              
    /* background-color:black; */
    height: 4px;
  }



.allCities{
 /*  color:rgb(14, 50, 83); */
 color: rgb(52, 53, 52); 
 /*  font-weight: bold; */


}

.PlaceAd{
  
float: right;
 
    text-align: right;
   /*  font-weight: bold; */
    color: rgba(184, 207, 228, 0.877);
    font-family:ubuntu;
    font-size: medium;
    margin-bottom: .5em;
    margin-top: .5em;
}

@media screen and (max-width: 600px) {
  .PlaceAd{

        font-size: small;
  }
  }

.lang{
    float: right;
    margin-right: 5%;
    text-align: right;
    font-weight: bold;
    color: rgba(78, 10, 10, 0.699);
    font-family:ubuntu;
    font-size: medium;
    margin-bottom: .5em;
    margin-top: .5em;
}

@media screen and (max-width: 600px) {
  .lang{

        font-size: small;
  }
  }
.login{
  
    float: left;
    text-align: left;
    font-size: medium;
    /* font-weight: bold; */
    color: rgba(184, 207, 228, 0.877);
    font-family:ubuntu;
    }



.about{
    float: left;
    text-align: left;
   /*  font-weight: bold; */
    color: rgba(255, 255, 255, 0.781);
    font-family:ubuntu;
    font-size: medium;
    margin-bottom: .5em;
    margin-top: .5em;
    
}
@media screen and (max-width: 600px) {
  .about{

        font-size: small;
  }
  }

  .tab{
    background-color: rgb(3, 17, 31);
    overflow: auto;
    align-items : center;
     width: 100vw; 
   
  border: none;
} 

.row{
   /*  max-width: 100%; */
}




