<!-- <div class="tab">
        <div class="col-md-2"> </div>
        <div class="col-md-8">

            <br>
            <div class='about'> Home</div>
            <div class='about'> &nbsp;&nbsp; About </div>
            <div class='about'> &nbsp;&nbsp; Contact </div>
            <div class='login'> &nbsp;&nbsp; Login</div>
            
            <div class="PlaceAd " (click)="placeYourAd()">Place Your Ad</div>
            <div class='lang'> العربية &nbsp;&nbsp;</div>
              <br> <br> 
        </div>
    </div> -->



<!--   <h1  style='display: inline;font-weight: bold;  text-decoration: underline; 
   font-family: Tangerine,serif;  color:orange;'>Motorat.ae>   </h1> -->


<div class='row'>
    <div class="col-md-1"></div>
    <div class="col-md-6">

        <h1 class='logo' align='right' style='display: inline;  
               font-family:ubuntu; font-weight: bold ' translate>Title</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 ">
        <h2 class='logo' style='display: inline; font-weight: bold;  text-decoration: underline; 
        font-family:ubuntu;  color:orange;'>ZEZENIA.ae></h2>  <!-- zezenia -->
<!-- 
<h2 class='logo' style='display: inline; text-decoration: underline; 
  color:orange;'>ZEZENIA.ae></h2>  --> <!-- zezenia -->

        <!--  <img  class='logo'  style='width:80px;height:65px;    vertical-align: bottom;   ' src="assets/eagle.svg"> -->
        <img class='logo' style='width:80px;height:25px;    vertical-align: bottom;   ' src="assets/logo.png">
    </div>




</div>

<div class="tab">

    <div class="col-md-2"> </div>
    <div class="col-md-8">


       
        <div class='about' (click)="router.navigate(['/about'])">
            <a translate>About</a> &nbsp;| &nbsp;
        </div>
        <div class='about' (click)="router.navigate(['/contact'])">
            <a translate>Contact </a> &nbsp;| &nbsp;
        </div>
        <div class='about'   (click)="router.navigate(['/members'])">
                <a translate>Register</a> &nbsp;| &nbsp;
            </div>
        <div class='login about' (click)="router.navigate(['/members'])"> &nbsp; &nbsp; &nbsp;
            <a style="color: rgba(241, 237, 237, 0.493);" translate><i class="fa fa-sign-in" style="font-size:normal;color:greenyellow">&nbsp;</i>Login</a>
        </div>

        <div class="PlaceAd " (click)="router.navigate(['/members'])">
            <a style='color:rgb(83, 156, 219)' translate>PlaceAd</a>
        </div>
        <div class='lang'>
            <a (click)="switchLanguage()" translate>lang </a>&nbsp;&nbsp;</div>


    </div>
    <div class="col-md-2"> </div>


</div>

<!-- <img  class='logo'  style='width:150px;height:200px;  display: block;
margin-left: auto;
margin-right: auto;      ' src="assets/eagle.svg"> -->


<div class="container-fluid" [class.toggleLang]="toggleLanguage">



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-1"> </div>


    <div class=" col-md-2">

        <div class="row">
           
            <div class="SearchBox fontUbuntu col-md-12">
                <form #SearchFrm="ngForm" (ngSubmit)="SearchCar(SearchFrm)">
                    <h4 align="center" class="SearchTitle" translate> Search</h4>
  
                    
                    <div class="form-group ">
                            <!-- <label for="" >
                                <span translate>city</span>:
                            </label>
    
                            <input type="text" class="form-control  input-sm" name="carcolor" value="" [ngModel]="ColorToSearch"> -->

                            
 
   

    
                                    <label class="label label-primary" for="carcity" translate>
                                            city
                                    </label>
                               
                                    <select class="form-control input-sm" name="cityToSearch" value="" ngModel >
                                        <option selected value>All</option>
                                        <option>Abu Dhabi</option>
                                        <option>Ajman</option>
                                        <option>Alain</option>
                                        <option>Dubai</option>
                                        <option>Fujaira</option>
                                        <option>Ras Alkhaima</option>
                                        <option>Sharjah</option>
                                        <option>Um Alqwain</option>
                                        
                                        
                                      </select>
                                  
                    </div>

                    <div class="form-group ">
                            
                                    <label class="label label-primary" for="" translate>
                                      Manufacturer
                                    </label>
                          
                                    <select class="form-control input-sm"   name="manufacturerToSearch" ngModel>
                                        <option>NISSAN</option>
                                        <option>TOYOTA</option>
                                         
                                      </select>
                                 
                        </div>
                   
                    <div class="form-group ">
                          
                                    <label class="label label-primary" for="" translate>
                                      Model:
                                    </label>
                          
                                    <select class="form-control input-sm"   name="modelToSearch" ngModel>
                                        <option>ALTIMA</option>
                                        <option>CAMRY</option>
                                         
                                      </select>
                                 
                    </div>


                    <div class="form-group ">
                          
                                    <label class="label label-primary" for="color" translate>
                                      Color
                                    </label>
                          
                                    <select class="form-control input-sm"  name="colorToSearch"  ngModel>
                                         
                                        <option>Silver</option>
                                        <option>White</option>
                                        <option>Brown</option>
                                        <option> Black</option>
                                        <option>Blue</option>
                                        <option>Red</option>
                                        <option>Gray</option>
                                        <option>Green</option>
                                        <option>Gold</option>
                                        <option>Yellow</option>
                                        <option>Other</option>
                                         
                                      </select>
                                  
                    </div>

                    <div class="form-group " style ='padding-right:10px;padding-left:10px;'  dir ="ltr"> 
                        <label for="" translate>
                            Year
                        </label>
                      
                <input style='width:100%; ' id="year" type="text"    data-slider-value="[1990,2018 ]"/>    
       
        </div>


                    <div class="form-group "  style ='padding-right:10px;padding-left:10px;'  dir ="ltr"> 
                        <label for="" translate>
                            Kilometers
                        </label>
                         
                        
                     <input  style='width:100%; ' id="kilo" type="text"    data-slider-value="[0,100 ]"/>   
                   
              
                    </div>



                    <div class="form-group " style ='padding-right:10px;padding-left:10px;' dir ="ltr"> 
                           <!--  <label for="" translate>
                                price from to:
                            </label>
    
                            <input type="text" class="form-control  input-sm" name="carcolor" value="" [ngModel]="ColorToSearch"> -->

                            <label for="customRange1" translate>Price</label>
                            
                          <!--   <input type="text" class="js-min-max-start" style='font-size: small' /> -->


<!--                       <input style=' width: 90%;' id="ex1"  data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100000" data-slider-step="1" data-slider-value="[0,50000]"/> 
 -->                         <input style='width:100%; ' id="price" type="text"    data-slider-value="[0,100 ]"/>    
                        <!--  <input id="ex12c" type="text"/><br/>  -->
                    </div>



                    <div class="form-group ">
                            <label for="" translate>
                                Cylinder
                            </label>
    
                            <input type="text" class="form-control  input-sm" name="carcolor" value="" [ngModel]="ColorToSearch">
                        </div>

                    <button type="submit" name='button' class=' btn btn-block  btn-primary'><i translate>Go</i></button>

                </form>
            </div>
        </div>
    </div>

    <app-photo-swipe #photoSwipe></app-photo-swipe>



    <!-- pagination -->
    <div class="col-md-7">


        <div>
            <!-- <h1>Angular 2 - Pagination Example with logic like Google</h1> -->

            <!-- items being paged -->
            <div>
                <br>

                <ul style="list-style:none">

                    <li *ngFor="let obj of carsObjects;  let i = index">
                        <!-- <div class="container2" *ngFor="let thumb of objs.thums;  let j = index"> 
                
                     <div class="num_of_img"> +: {{obj.thums.length}}  </div>
                     <img (click)="openSlideshow(i,j);" style="width:100px;height:100px;" [src]="obj.thums[j].src">

                 </div>  -->

                        <!--  <div class="container2" *ngFor="let thumb of obj.thums;  let j = index">  -->
                        <div class="cardd">


                            <!-- <div class="contactBox"> contact </div> -->

                            <div class="container2 col-md-6">
                                <div class="verticalLine"></div>

                                <div class="title"> {{obj.manufacture}}> {{obj.model }}> {{obj.specs}}
                                </div>
                                <!-- containerTitle -->

                                <br>

                                <div class="num_of_img"> +{{obj.thums.length}} </div>

                                <img (click)="openSlideshow(i,j);" [src]="obj.thums[0]">
                                <br>
                                <br>
                                <div class='fontUbuntu'> <i translate>Located:</i> {{obj.city}} , <i translate>Date:</i>
                                    {{obj.date| date : "dd MMMM yyyy" }}</div>
                                <br>
                                <br>

                            </div>
                            <div class="rightOfBox col-md-3">
                                <div class='details' translate>warranty
                                    <span class='detailsBold'> : {{obj.warranty}} </span></div>

                                <!-- <br> -->
                                <br>
                                <div class='details' translate>Transmission
                                   <span> : </span> <span class='detailsBold' translate>{{obj.transmission}}</span>
                                </div>
                                <br>
                                <div class='details' translate>Cylinder
                                    <span class='detailsBold'> : {{ obj.cylinder}}</span>
                                </div>
                                <br>
                                <div class='details' translate>Color
                                    <span> : </span> <span class='detailsBold' translate>{{ obj.color}}</span>
                                </div>
                            </div>


                            <div class="rightOfBox col-md-3">

                                <div class='details' translate>Price
                                    <span class='detailsBold'> : {{obj.price}} <span translate> AED</span> </span></div>

                                <br>
                                <div class='details' translate>Kilometers
                                    <span class='detailsBold'> : {{obj.kilometers}}   <span translate> km</span> </span></div>

                                <!-- <br> -->
                                <br>
                                <div class='details' translate>Year
                                    <span class='detailsBold'> : {{obj.year}}</span>
                                </div>
                                <br>


                                <br>


                                <br>
                                <br>
                                <div class="showPhone btn btn-warning btn-sm" translate> Phone: </div>
                                <br>
                                <br>
                            </div>

                            <hr>
                        </div>



                    </li>


                </ul>
            </div>

            <!-- pager -->
            <div class="pager">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)" translate>First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                        <a (click)="setPage(pager.currentPage - 1)" translate>Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a class='ppage' (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)" translate>Next</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)" translate>Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--   end of paginagtion  -->


    <div class="col-md-2">

    </div>

</div>