.rtltest{
    direction: rtl;
}

 
    .row-rtl {
           margin-right: 10px;
             
       
    }
 
a:hover{
	 
	font-style: italic;
	text-decoration: none;
}

a{
	color:white;
	
}
  .ppage{
    color:rgb(19, 35, 73);
}

.logo{
    vertical-align: bottom;
    margin-bottom: .0em;
    margin-top: 1em;
   /*  margin-bottom:-20px ; */
}

.num_of_img {
    background-color: red;
    position: absolute;
    /* bottom: 5px; */
    /* right: 5px;  */
    pointer-events: none;
    font-size: 13px;
    font-family: Lato, "Times New Roman", Tahoma, bold , Helvetica, sans-serif;
   /*  padding: 1px 4px; */

    /* top: 100px; */
    color:white;
    left: 35px; 
    font-weight: bold;
    
}

.toggleLang{
    text-align: right;
    direction: rtl;
}

.rightOfBox{
    float: left;
 /*  //  text-align: left; */
   /*  font-weight: bold; */
    color: black;
    font-family:Verdana, sans-serif;
 /*  //  text-align: right; */
     
}

.container2 {
    position: relative;
    text-align: left;
    color: solid rgba(58, 33, 134, 0.514);
    margin-left: 0%;
    padding-left: 0%;
    
   /* height: 200px;*/
   /*  float: left; */

}

.SearchBox {
    background-color: rgba(216, 221, 214, 0.705); 
    /* background-color: rgba(211, 211, 211, 0.404);  */
    /* width: 200px; */
   /*  border: 1px solid rgba(83, 50, 145, 0.575); */
    padding: 10px;
    margin: 1px;
}

.contactBox {
    background-color: #2A6496;

    width: 10em; 
    border: 1px solid #2A6496;
    padding: 10px;
    margin: 1px;
    text-align: center;
    color: white;
    /* float: right;  */
}
.searchh2{
    
  /*   font-weight: bold; */
  font-family:Verdana, sans-serif;

   /*  align :center; */
}

/* .containerPrice{
    color: #2A6496;
    float: right; 
    font-weight: bold;
   
}

.containerKilo{
    color: rgb(67, 152, 226);
    float: right; 
    font-weight: bold;
     
}

.containerYear{
    color: black;
    float: right; 
    font-weight: bold;
   
} */

.verticalLine {
   /*  border-left: 3px solid rgba(58, 33, 134, 0.514); */
    border-left: 3px solid #2A6496;
    height: 180px;
   
    float: left;
    padding-right: 10px;
}



.containerTitle
{
     
    /* float: left; */
    text-align: left;
    font-size: large;
    font-weight: bold;
    font-family:Verdana, sans-serif;
   /*  padding-bottom: center; */
}

.title{
    font-family: Ubuntu;
    text-transform: uppercase;
   font-size: large;
    font-weight: bold;
   
    color:black;
}


 
img{
   width:170px; 
   height:115px; 
}

img:hover{
    width:210px; 
    height:145px;
}
showPhone:hover{
     
   
    font-size: x-large;
}
.details{
    /*  font-weight:   normal;  */
     font-size:  small; 
    font-family:  ubuntu;
  /*   font-weight: bold; */
    
   
}

.detailsBold{
    font-weight:   bold;
    font-size:   small;
    font-family:  ubuntu;
    direction: rtl;
    
}


.fontUbuntu{
    font-family: ubuntu;
  /*   font-weight:   normal; */
 /*  font-style: italic; */
 
    
}

.SearchTitle{

    font-family: ubuntu;
     
    font-size: x-large;
    
  

    
}




.SearchDetails{
    font-weight:   normal;
   /*  font-size: x-small; */
    font-family: Verdana, Geneva, sans-serif;

}



ul 
{
    line-height:100%;  
    padding-left: 3%;
  
   
}
hr {
    /* border: 0; */
    clear:both;
    display:block;
    /*  width: 96%;  */              
    /* background-color:black; */
    height: 4px;
  }

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
} */


.container-fluid {
    margin-left: 1%;
    margin-right: 2%;
}

.PlaceAd{
  
float: right;
 
    text-align: left;
   /*  font-weight: bold; */
    color: rgba(184, 207, 228, 0.877);
    font-family:ubuntu;
    font-size: medium;
    margin-bottom: .5em;
    margin-top: .5em;
}

.login{
  
    float: left;
    text-align: left;
    font-size: medium;
    /* font-weight: bold; */
    color: rgba(184, 207, 228, 0.877);
    font-family:ubuntu;
    }

.lang{
    float: right;
    text-align: right;
    font-weight: bold;
    color: rgba(78, 10, 10, 0.699);
    font-family:ubuntu;
    font-size: medium;
    margin-bottom: .5em;
    margin-top: .5em;
}

.about{
    float: left;
    text-align: left;
   /*  font-weight: bold; */
    color: rgba(255, 255, 255, 0.781);
    font-family:ubuntu;
    font-size: medium;
    margin-bottom: .5em;
    margin-top: .5em;
    
}

  .tab{
    background-color: rgb(3, 17, 31);
    overflow: auto;
    align-items : center;
    
   
  border: none;
} 




