<div class="container">
    <div class="center">
        <button class="btn btn-lg blue center" (click)="openSlideshow()">Open Slideshow</button>
    </div>
    <form #SearchFrm="ngForm" (ngSubmit)="SearchCar(SearchFrm)"  >
        <h2> Search a Car</h2>
        <div class="form-group">
          <label for="">
            Model:
          </label>
  
          <input type="text" class="form-control" name="carmodel" value="" [ngModel]="selectedCar.MODEL">
        </div>
  
        <div class="form-group">
          <label for="">
            Color:
          </label>
  
          <input type="text" class="form-control" name="carcolor" value="" [ngModel]="selectedCar.COLOR">
        </div>
        <br>
        <button type="submit" name='button' class='btn btn-success'>Search</button>
         
      </form>
    
    <app-photo-swipe #photoSwipe></app-photo-swipe>
<br>


<!-- pagination -->
<div>


  <div class="text-center">
      <h1>Angular 2 - Pagination Example with logic like Google</h1>

      <!-- items being paged -->
      <div >

        <ul class="files" >

            <li *ngFor="let objs of im;  let i = index">
               <!--  <div class="container2" *ngFor="let thumb of objs.thums;  let j = index"> -->
              
             <!--  <a target="#" [href]="sanitizer.bypassSecurityTrustUrl(image.url)">
                <img  class="droplet-preview" [src]="sanitizer.bypassSecurityTrustUrl(image.url)">
              </a> -->
              <div class="container2">
              <div class="num_of_img"> +: {{objs.thums.length}}  </div>
              <img (click)="openSlideshow(i,j);" style="width:100px;height:100px;" [src]="objs.thums[0].src">
            </div> 
            <br> <br> <br>
            </li>
           

          </ul>
      </div>

      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="page-item"  [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
  </div>
</div>
</div>